<!doctype html>
<html>
<head>
    <meta charset="utf-8">

    <title>Card for {{{ name }}}</title>

    <link rel="stylesheet" href="css/styles.css">

</head>

<body>
    <div class="header">
        <div class="name-container">
            <h1 class="name">{{{ name }}}</h1>
            <div class="edge"></div>
        </div>
        <div class="right">
            <p class="attitude">{{{ attitude }}}</p>
            <p class="challenge">Challenge: {{{ challenge }}}</p>
        </div>
    </div>
    <pre>{{ json this }}</pre>
</body>
</html>